/* Estilos generales para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

/* Estilos para el título */
h1 {
    color: #333;
}

/* Estilos para la etiqueta de selección de género */
label {
    font-weight: bold;
    font-size: 18px;
}

/* Estilos para el menú desplegable de género */
select {
    padding: 5px;
    font-size: 16px;
}

/* Estilos para el botón de búsqueda */
#searchButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

/* Estilos para el resultado de la búsqueda */
#result {
    margin-top: 20px;
}

/* Estilos para la lista de películas */
ul {
    list-style-type: none;
    padding: 0;
}

/* Estilos para los elementos de la lista de películas */
li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
